/* @import url('https//fonts.googleapis.com/css?family=Poppins:400,500,700'); */
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
  font-weight: bolder;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white !important;
}

.active a{
  background-color: #555;
  color: whitesmoke !important;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h2{
  font-size: 200%;
  font-weight: 600;
  text-shadow: 1px 1px 10px #ffffff;
  padding-bottom: 1rem;
}

.carousel-caption {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 2rem;
  right: 0;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#slides,#communityslides {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.whereto p{
  position: relative;
  font-size: 1rem;
  top: 2rem;
}

p.lead {
  font-family: 'Sriracha', cursive;
  margin-top: 2rem;
  font-size: 1.1rem;
}

.h3 {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.shsimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightskyblue {
  background-color: #87CEFA;
}

.aliceblue{
  background-color: 	#F0F8FF;
}


.section {
  background-color: #F0FFF0;
}

.reserved {
  background-color: #778899;
}



/* .bg-light {
  background-color: transparent !important;
} */

img.size {
  height: 2rem;
  margin: 0 1.1rem 0 0;
}

/* Index */

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-youtube {
  color: #bb0000;
}



.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

/* Community */

.imgteam {
  margin-left: 33rem;
  top: 2rem;
  position: relative;
  /* margin-bottom: -2rem; */
}


/* Gallery */

#secdiv, .gallery {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}


.gallery {
  margin: 1rem 0 1rem 0;
}

/* Shs */

.imgshs {
  margin-left: 31rem;
  top: 2rem;
  position: relative;
}



